<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adAttention">

	<select id="findValid" resultType="hashmap">
		SELECT uid,ad_id as adId FROM ad_attention WHERE is_attentioned = 1
	</select>
	
    <insert id="insert" parameterType="hupu.ad.domain.AdAttention">
        INSERT INTO ad_attention(ad_id,uid,is_attentioned,dateline) VALUES(#{adId},#{uid},#{isAttentioned},#{dateline})
    </insert>
    
    <update id="updateIsAttentioned" parameterType="hupu.ad.domain.AdAttention">
        update ad_attention set is_attentioned = #{isAttentioned} where ad_id=#{adId} and uid=#{uid}
    </update>
</mapper>