<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdConfig">

	<select id="findByVar" parameterType="string" resultType="string">
		select
		  datavalue
		from ad_config
		where var = #{var} limit 1
	</select>
    
    
</mapper>